 {% load static %}
 
 <li>
            <article class="post">

                <a href="">
                    <img src="{% static 'feature1/images/mountains.jpg' %}" alt="Mountain Hiking">
                    <div class="post_content">
                        <h3>Mountain Hiking</h3>
                        <p>
                            These mountains are an epitome of grandeur and resilience,
                            a living testament to the earth's might.
                        </p>
                    </div>
                </a>
            </article>
</li>