{% extends "base.html" %}
{% load static %}

{% block page_title %}
POST_PAGE
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'feature1/post-detail.css' %}">
{% endblock %}

{% block content %}
<section id='summary'>
    <h2>{{post.title}}</h2>
    <article>
        <img src="{% static "feature1/images/mountains.jpg" %}" alt="post-title">
        <address>{{post.author}} </address>
        <div> Last updated on <time>{{post.date|date:"d M Y"}}</time></div>
    </article>
</section>
<main>
    {{post.content|linebreaks}}
</main>
{% endblock %}
