*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f5f5;
}

/* ---------------- Navigation ---------------- */


#welcome{
    background:linear-gradient(to right top,#6305dd,#390281);
    padding:2rem 12% 8rem;
}

#hero{
    display:flex;
    align-items:center;
    margin:2rem 0;
}

#hero img{
    width:10rem;
    height:10rem;
    object-fit:cover;
    border:5px solid white;
    border-radius:12px;
    background:#ffe1bf;
    transform:rotate(-5deg);
    box-shadow:0 2px 8px rgba(0,0,0,.3);
}

#hero h2{
    margin-left:2rem;
    color:white;
    font-size:3.5rem;
    width:12rem;
}

#welcome p{
    color:white;
    font-size:1.4rem;
}

/* ---------------- Latest Posts ---------------- */

#latest-posts{
    width:60rem;
    max-width:90%;
    margin:-5rem auto 3rem auto;
    background:white;
    padding:2rem;
    border-radius:12px;
    box-shadow:0 2px 12px rgba(0,0,0,.3);
}

#latest-posts h2{
    text-align:center;
    margin-bottom:2rem;
}

#latest-posts ul{
    list-style:none;
}


/* ---------------- About ---------------- */

#about{
    background:#e48900;
    padding:3rem;
    text-align:center;
}

#about h2{
    margin-bottom:1rem;
    font-size:3rem;
}

#about p{
    font-size:1.3rem;
    margin-bottom:1rem;
}